<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cafebazaarreactnativepoolakey">
  <application>
    <activity
      android:name=".PaymentActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
  </application>

</manifest>
